@font-face {
  font-family: 'Flux';
  src: url("../../public/fonts/Flux_Architect_Regular.woff");
}
@font-face {
  font-family: 'Flux';
  font-weight: bold;
  src: url("../../public/fonts/Flux_Architect_Bold.woff");
}
